<!DOCTYPE html>
<html>
<head>
  <title>Zensheets</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class"container-fluid">
    <%= render 'components/top_navigation' %>
    <div class="row">
      <div class="col-lg-12 text-center">
        <%= image_tag 'zensheetslogosmall.png' %>
      </div>
      <%= yield %>
    </div>
  </div>
</body>
</html>
